<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Transfer AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>College Transfer AI</h1>

    <!-- Form to Get All Institutions for Sending Institution -->
    <div class="form-group">
        <label for="searchInstitution">Search for Sending Institution:</label>
        <input type="text" id="searchInstitution" placeholder="Type to search..." onkeyup="filterInstitutions()" onfocus="filterInstitutions()" onblur="hideDropdown()">
        <div id="institutionDropdown" class="dropdown"></div>
    </div>

    <!-- Form to Get All Institutions for Receiving Institution -->
    <div class="form-group">
        <label for="receivingInstitution">Search for Receiving Institution:</label>
        <input type="text" id="receivingInstitution" placeholder="Type to search..." onkeyup="filterNonCCs()" onfocus="filterNonCCs()" onblur="hideDropdown()" disabled>
        <div id="receivingInstitutionDropdown" class="dropdown"></div>
    </div>

    <!-- Form to Get All Academic Years -->
    <div class="form-group">
        <label for="academicYears">Search for Academic Years:</label>
        <input type="text" id="academicYears" placeholder="Type to search..." onkeyup="filterAcademicYears()" onfocus="filterAcademicYears()" onblur="hideDropdown()">
        <div id="academicYearsDropdown" class="dropdown" ></div>
    </div>

    <!-- Form to Get Majors -->
    <div class="form-group">
        <label for="majors">Search for Majors:</label>
        <input type="text" id="majors" placeholder="Type to search..." onkeyup="filterMajors()" onfocus="filterMajors()" onblur="hideDropdown()" disabled>
        <div id="majorsDropdown" class="dropdown" ></div>
    </div>

    <!-- Form to Get Articulation Agreement -->
    <!--<div class="form-group">
        <button onclick="getArticulationAgreement()">Get Articulation Agreement</button>
    </div> -->
    

    <!-- Result Section -->
    <div class="result" id="result">
        <h3>Result:</h3>
        <pre id="resultContent">No data yet...</pre>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>